body{
	background: ##24312d;
	background-image: url("ZenBG-1.png"), url("ZenBG-2.png");
	background-repeat: repeat-x, repeat;
}

.seleccion{
	margin-left: 5px;
	margin-right: 5px;	
	background-color: #ddd;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity = 70);	
}

.seleccion h3{
	margin: 5px;
	margin-top: 10px;
	font-style: italic;
}

.coordenadas{
	background-color:yellow;
	width:70%;
}
.coordenadas input{
	text-align: center;
	width: 50px;
}

.angulos input{
	width: 50px;	
}

#content{
	width: 1080px;
	margin-left: auto; margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

#content h2{
	color: navy;
	
}

#menu{
	background-color: white;
	padding: 20px 5px  20px 5px;
	margin-right: 3px;	
	border:1px solid gray;
	float: left;	
	height: 500px;
	width: 250px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

#cuadro{
    background-color:gray;
    width:800px; height:500px;
    margin-left: auto; margin-right: auto;
    padding:20px 5px 20px 5px;
    float: left;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#juego{
    border:2px solid black;
    display: block;
    margin-left: auto; margin-right: auto;
}

.seleccion button {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #2771a3;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.seleccion button:hover {
  background: #58a6d6;
  text-decoration: none;
}

.seleccion button:active {
	position:relative;
	top:1px;
}

button.rojo  {
  background: #db4b52;
  text-decoration: none;
}

button.rojo:hover {
  background: #c76c6c;
  text-decoration: none;
}

button.azul  {
  background: #268be3;
  text-decoration: none;
}

button.azul:hover {
  background: #3cb0fd;
  text-decoration: none;
}

button.verde  {
  background: #209628;
  text-decoration: none;
}

button.verde:hover {
  background:#6dc973;
  text-decoration: none;
}


